@media (max-width:1800px) {
    .mission-text-top {
        right: 50%;
    }

    .subject-box {
        width: 300px;
    }

    .subject-card {
        border-radius: 44px;
    }

    .subject-card h3 {
        font-size: 34px;
    }

    .subject-row,
    .subject-boxs {
        gap: 60px;
    }

    .subject-card>img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width:1600px) {
    .missions-subtitle {
        font-size: 28px;
    }

    .today-title,
    .missions-title {
        font-size: 100px;
    }

    .mission-text-bottom {
        left: 33%;
    }

    .moon-view img {
        width: 600px;
    }
}

@media (max-width: 1450px) {
    .moon-view img {
        width: 500px;
    }

    .today-title {
        font-size: 95px;
    }

    .missions-title {
        font-size: 90px;
    }

    .missions-subtitle {
        font-size: 24px;
    }

    .missions-1 img {
        width: 700px;
    }

    .missions-2 img {
        width: 480px;
    }

    .mission-text-bottom h3,
    .mission-text-top h3 {
        font-size: 26px;
    }

    .missions-header {
        margin-bottom: 80px;
    }

    .subject-box {
        width: 250px;
    }

    .subject-card>img {
        width: 200px;
        height: 200px;
    }

    .subject-card h3 {
        font-size: 32px;
    }

    .next-btn,
    .subject-card p {
        font-size: 16px;
    }
}

@media (max-width: 1300px) {
    .about-title {
        font-size: 70px;
    }

    .mission-text-top {
        right: 68%;
    }

    .mission-text-bottom {
        left: 44%;
    }

    .subject-boxs {
        flex-direction: column;
        align-items: center;
    }

    .subject-row {
        justify-content: center;
        flex-wrap: nowrap;
    }

    .subject-box {
        width: 33%;
    }

    .subject-row:last-child .subject-box:nth-child(1) {
        margin-top: none;
    }

    .subject-content h2 {
        padding-left: 100px;
    }

    .fade-slides {
        width: 525px;
        height: 774px;
    }

    .moon-info {
        width: 43%;
    }

}

@media (max-width: 1200px) {
    /* .fade-slides { */
        width: 471px;
    }

    
}